*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    padding: 10px 10px 10px 0;
    display: flex;
    background: #7b5e3b;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
    z-index: 20;
}

.logo{
    width: 150px;
    height: 80px;

}

.nav-items{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-links{
    list-style: none;
    margin: 10px 20px;
    display: inline-block;
}

.main{
    position: relative;
}

.slide{
    width: 100vw;
    height: 800px;
    background-image: url("assets/images/mainslide.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
}

.header{
    margin: 0 50px;
    font-size: 190px;
    color: white;
}
.header>span{
    color: #a16709;
}


